
@tailwind base;
@tailwind utilities;
@tailwind components;
@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-FD-Thin.woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-FD-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/Vazirmatn-FD-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.filter-white {
    filter: brightness(0) invert(1);
}

.filter-gray {
    filter: invert(0.4);
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        display: none;
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
}
.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}